{% extends 'base.html' %}

{% block content %}
<section id="login" class="bg-light py-5">
    <div class="center" style="padding-top: 200px;">
      <form action="{% url 'login' %}" method="POST">
          {% csrf_token %}
        <div class="login">
          <label for="username">Username</label>
          <input type="text" name="username" class="input" required>
        </div>

        <div class="login">
          <label for="password2">Password</label>
          <input type="password" name="password" class="input" required>
        </div>

        <input type="submit" value="Login" class="button">
      </form>
    </div>
  </section>
{% endblock %}