
 <nav class="navbar sticky-top">
  {% if user.is_authenticated %}
  <ul class="dropdown">
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">
        <svg width="30" height="30" id="icoOpen">
          <path d="M0,6 30,6" stroke="#000" stroke-width="3"/>
          <path d="M0,15 30,15" stroke="#000" stroke-width="3"/>
          <path d="M0,24 30,24" stroke="#000" stroke-width="3"/>
        </svg>
        
      </a>
      
      <div class="dropdown-content">
        <a href="#">{{user.username}}</a>
        <a href="https://www.kk.dk/sites/default/files/licenskort_indre_by_ib_21.10.2019.pdf">Parkering</a>
        <a href="#">Oversigter</a>
        <a href="#">Statistik</a>
        <a href="#">FAQ</a>
        <a href="#">Vejhjælp</a>
        <a href="#">Forsikring</a>
        {% if request.user.username == 'kacaring' %}
        <a href="/admin">Admin</a>
        {% endif %}
        <a href="#">Logud</a>
      </div>
    </li>
  </ul>
  {% endif %}
</nav>

