{% extends 'base.html' %}

{% block content %}
<h1 class="header">
  <a href="{% url 'all_transactions' %}" class="header_link">ADMIN Oversigt</a>
</h1>

<div class="center">
  <table class="oversigt-table">
    <colgroup>
      <col  style="width: 50%;">
      <col  style="width: 50%;">
  </colgroup>
  {% for user in users %}
    <tr class="oversigt-tr">
      <td class="oversigt-name">
        <h3 class="oversigt-name">
          <a href="{% url 'user_transactions' user.user.id %}" class="header_link">{{ user.user.get_full_name }}</a>
        </h3>
      </td>
      <td class="oversigt-td">
        <p>{{ user.balance }} kr.</p>
        <p>Kørt i alt: {{ user.user_km }} km.</p>
      </td>
    </tr>
  {% endfor %}
  </table>
  <br>
  <p>Bank saldo: {{ bank_account_balance }} kr.</p>
</div>


<div class="center">
  <a href="{% url 'dashboard' %}" class="sml-button">Tilbage</a>
  </div>
</div>

{% endblock %}

