{% extends 'base.html' %}


{% load to_class_name %}

{% block content %}
<div class="container">

    <h1 class="header">Alle transaktioner</h1>

    <table style="table-layout: fixed;">
        <colgroup>
            <col  style="width: 4%;">
            <col  style="width: 4%;">
            <col  style="width: 6%;">
            <col  style="width: 5%;">
            <col  style="width: 5%;">
            <col  style="width: 5%;">
            <col  style="width: 15%;">
        </colgroup>

        <!-- Table Head -->
        <thead>
            <tr>
                <th>
                    Dato
                </th>
                <th>
                    Type
                </th>
                <th>
                    Bruger
                </th>
                <th>
                    Odometer
                </th>
                <th>
                    Km
                </th>
                <th>
                    Beløb
                </th>
                <th>
                    Beskrivelse
                </th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in all_transactions %}
                <tr>
                    <td>
                        {{ transaction.date|date:"d M Y" }}
                    </td>
                    <td>
                        {{ transaction | to_class_name }}
                    </td>
                    <td>
                        {{ transaction.user.get_full_name }}
                    </td>
                    <td>
                        {% if transaction.odometer %} {{ transaction.odometer }} km {% endif %}
                    </td>
                    <td>
                        {% if transaction.delta_km %} {{ transaction.delta_km }} km {% endif %}
                    </td>
                    <td>
                        {% if transaction.amount %} {{ transaction.amount|floatformat:2 }} kr.
                        {% elif transaction.tur_price %} {{ transaction.tur_price|floatformat:2 }} kr. {% endif %}
                    </td>
                    <td>
                        {% if transaction.description %} {{ transaction.description }} {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table >
</div>

    <div class="center">
    <a href="{% url 'oversigt' %}" class="sml-button">Tilbage</a>
    </div>
<br>
{% endblock %}