{% extends 'base.html' %}

{% block content %}
<h1 class="header">Oversigt</h1>

<div class="center">
  <table class="oversigt-table">
    <colgroup>
      <col  style="width: 50%;">
      <col  style="width: 50%;">
  </colgroup>

    <tr class="oversigt-tr">
      <td class="oversigt-name">
        <h2 class="oversigt-name">
          <a href="#" class="header_link">{{user}}</a>
        </h2>
      </td>
      <td class="oversigt-td">
        <p>{{user_data.balance}} kr.</p>
        <p>Kørt i alt: {{user_data.user_km}} km.</p>
      </td>
    </tr>
  </table>
</div>


<div class="center">
  <a href="{% url 'dashboard' %}" class="sml-button">Tilbage</a>
  </div>
</div>

{% endblock %}

